<div class='gantt-wrap'>
  <%# <svg id="gantt"></svg> %>
</div>

<div id="order-table">
  <h2>工程ごとの機屋一覧</h2>
  <table>
    <thead>
      <tr>

        <th>機屋名</th>
        <th>ガントチャート</th>
      </tr>
    </thead>
    <tbody id="table-body">
      <!-- 動的に行を追加 -->
    </tbody>
  </table>
</div>

<script>
  window.onload = function() {
    const orders = <%= raw @orders %>
    console.log(orders)

    // テーブルの生成
    const tableBody = document.getElementById("table-body");

    orders.forEach((order) => {
      // 行を作成
      const row = document.createElement("tr");

      // 機屋名を表示するセルの追加
      const companyCell = document.createElement("td");
      companyCell.textContent = "機屋";
      // machineCell.style.border = "1px solid #ccc";
      // machineCell.style.padding = "8px";
      row.appendChild(companyCell);

      // ガントチャートを表示するセル
      const ganttCell = document.createElement("td");

      // ガントチャート描画用のSVGタグを生成
      const ganttSvg = document.createElement("svg");
      ganttSvg.id = `gantt-${order.id}`; // 各行に一意のIDを設定
      // ガントが入ったセル要素にsvgタグを追加
      ganttCell.appendChild(ganttSvg);
      // 行にガントの入ったセルを追加
      row.appendChild(ganttCell);

      // 行をテーブルに追加
      tableBody.appendChild(row);

      // 各ガントチャートを初期化
      const gantt = new Gantt(`#gantt-${order.id}`, order.work_processes, {
        view_mode: "Week",
        on_click: (task) => {
          console.log(`Task clicked: ${task.name}`);
        },
      });
    });

  };


</script>
